.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
  position: relative;
}

.trainWrapper {
  position: absolute;
  top: 10%;
  width: 100%;
  z-index: 0;
  opacity: 0.15;
  color: #333333;
}

@media (prefers-color-scheme: dark) {
  .trainWrapper {
    color: #555;
    opacity: 0.25;
  }
}

.train {
  width: 500px;
  max-width: 90%;
}

.content {
  position: relative;
  z-index: 1;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.bullet {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease, fill 0.3s ease;
  cursor: pointer;
}

.bullet.first4:hover circle {
  fill: #1E4B95;
}
.bullet.zero:hover circle {
  fill: #FFD500;
}
.bullet.second4:hover circle {
  fill: #FF8000;
}

.bullet:hover {
  transform: scale(1.1);
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  background-color: black;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease;
}

.button:hover {
  background-color: #ddd;
  color: black;
}

[data-theme="dark"] .button {
  background-color: white;
  color: black;
}

[data-theme="dark"] .button:hover {
  background-color: #333;
  color: white;
}
