/* === Page === */
.page {
  display: flex;
  flex-direction: column;
  padding: clamp(10px, 1.8vw, 20px);
  gap: clamp(12px, 1.2vw, 16px);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

.headerCenter {
  text-align: center;
  margin-bottom: 32px;
}

.pageTitle {
  font-size: clamp(20px, 3vw, 32px);
  font-weight: 700;
  margin-bottom: 8px;
}

.pageSubtitle {
  font-size: clamp(12px, 1.5vw, 16px);
  color: var(--ifm-subtitle-color);
}

.section {
  margin-bottom: 40px;
  text-align: left;
}

/* === Sections === */
.sectionHeader {
  display: flex;
  align-items: center;
  gap: clamp(8px, 1vw, 12px);
  margin-bottom: 16px;
}

.sectionTitle {
  margin: 0;
  font-size: clamp(16px, 1.8vw, 20px);
  font-weight: 700;
  color: var(--ifm-subtitle-color);
  text-transform: uppercase;
}

.headerLine {
  flex: 1;
  height: 1px;
  background: var(--ifm-border-color);
}

/* === Line Bullets === */
.lineBullet {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: white;
  font-size: 1rem;
  flex-shrink: 0;
}

/* === Cards === */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(20px, 1.5vw, 28px);
}

.card {
  background: var(--ifm-alt-background-color);
  border: 1px solid var(--ifm-border-color);
  border-radius: 10px;
  text-decoration: none !important;
  color: inherit !important;
  display: flex;
  transition: all 0.25s ease;
  flex-direction: column;
  padding: 28px;
  gap: 16px;
  min-width: 280px;
  max-width: 320px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

[data-theme='dark'] .card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(150,150,150,0.1);
}

.contributorName {
  margin: 0;
  font-size: clamp(16px, 1.5vw, 20px);
  font-weight: 700;
}

.contributorName a {
  color: inherit;
  text-decoration: none;
}

.contributorName a:hover {
  text-decoration: underline;
}

.contributorRole {
  margin: 0;
  font-size: clamp(12px, 1.2vw, 14px);
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

.contributorDesc {
  margin: 0;
  font-size: clamp(12px, 1.2vw, 14px);
  line-height: 1.5;
  color: var(--ifm-subtitle-color);
}

@media (max-width: 1200px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}

/* === Footer ===*/
.footerBars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  padding-top: clamp(8px, 1.2vw, 14px);
  border-top: 1px solid var(--ifm-border-color);
}

.bar {
  width: clamp(18px, 2.5vw, 28px);
  height: 5px;
  border-radius: 3px;
}
